@import "./all.scss";
@import "./mixin.scss";
.menu {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    font-size: 0px;
    font-family: 'helvetica neue';
    font-weight: 200;
    @include medium {
        display: flex;
        flex-direction: column;
    }
    @include small {
        display: flex;
        flex-direction: column;
    }
    .panel {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-align: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
        transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
        @include medium {
            flex-direction: row;
        }
        @include small {
            flex-direction: row;
        }
        *:first-child {
            transform: translateY(-100%);
            @include medium {
                transform: translateY(-0%);
            }
            @include small {
                transform: translateY(-0%);
            }
        }
        *:last-child {
            transform: translateY(100%);
            @include medium {
                transform: translateY(-0%);
            }
            @include small {
                transform: translateY(-0%);
            }
        }
        p {
            text-transform: uppercase;
            display: flex;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
            justify-content: center;
            font-size: 2rem;
            align-items: center;
            @include medium {
                flex-direction: row;
            }
            @include small {
                flex-direction: row;
            }
        }
        >* {
            margin: 0;
            width: 100%;
            transition: transform 0.5s;
            flex: 1;
        }
        a {
            display: flex;
            text-decoration: none;
            color: white;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            flex: 3;
            *:first-child {
                transform: translateY(-0%);
            }
            *:last-child {
                transform: translateY(0%);
            }
        }
    }
    // .panel.open-active>*:first-child {
    //     transform: translateY(-0%);
    // }
    // .panel.open-active>*:last-child {
    //     transform: translateY(0%);
    // }
    // .panel.open {
    //     flex: 3;
    // }
    .panel1 {
        background-image: url(../foodimg/set_meal.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .panel2 {
        background-image: url(../foodimg/main_meal.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .panel3 {
        background-image: url(../foodimg/side_meal.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .panel4 {
        background-image: url(../foodimg/beverage.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .panel5 {
        background-image: url(../foodimg/dessert.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}